*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.menu-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    position:absolute;
    left: -250px;
    justify-content: space-between;
    box-shadow: 2px 2px 20px rgb(223, 223, 223);
    margin-top: 50px;
    transition: all 0.2s ease;background-color: rgb(244, 244, 244);
}
.menu-hide{
    left:0;
    
}


.menu{
   text-align: center; 
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   line-height: 42px;  
   padding: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu>div{
    padding: 10px;
   
}
.menu:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
.btn{
    position: absolute;
    left: 250px;
    height: 20px;
    margin-top: 10px;
    transition: transform .5s;

}
.btn:hover{
    cursor: pointer;
  
}
.headder{
    height: 50px;
    background-color: black;
}
.new-title{
    text-align: center;
    margin:20px 0px;
    font-family: 'Poppins', sans-serif;
}
.comp-one{
    height: 100px;
  
    
}
.menu:active{
    color:rgb(154, 58, 58);
}
.icon>svg{
    width: 24px;
  height: 24px;
}
.cards-container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards{
    width:300px;
 
    box-shadow: 2px 2px 20px rgb(223, 223, 223);
    display: block;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.cards>img{
    width:250px;
    border-radius: 10px;
}
.cards>label{
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.cards>p{

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: normal;
    text-align: justify;
}
.buy{
    width: 80%;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    height: 40px;
    text-align: center;
    box-shadow: 2px 2px 20px rgb(223, 223, 223);
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    
    margin:10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy:hover{
    cursor: pointer;
    background-color: antiquewhite;
   
}
.buy:active{
    color:rgb(154, 58, 58);
}